[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "*"
django = "*"
gunicorn = "*"
django-heroku = "*"
pyparsing = "*"
six = "*"
requests = "*"
pyzomato = "==0.5"
certifi = "*"
chardet = "*"
idna = "*"

[dev-packages]

[requires]
python_version = "3.6"
