[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "*"
django = "*"
gunicorn = "*"
django-heroku = "*"
pyparsing = "*"
six = "*"
requests = "*"
pyzomato = "*"
certifi = "*"
chardet = "*"
idna = "*"
urllib3 = "*"
whitenoise= "*"
[dev-packages]

[requires]
python_version = "3.6"
